/* COLORS */

$color-white: #fff;
$color-black: #111;
$color-gray: #555;
$color-gray-light: #f7f7f7;

/* FONTS */

$font-family: "Noto Sans", sans-serif; /* 400, 700 */
$default-font-size: 1.8rem;
$default-line-height: 1.6;
$default-font-weight: 400;

/* SPACING */

$space-xxs: 0.5rem;
$space-xs: 1rem;
$space-sm: 2rem;
$space-md: 4rem;
$space-lg: 8rem;
$space-xl: 12rem;
