.header {
  position: relative;
}

.header-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  color: $color-white;
  padding: 5rem 10rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5rem 5rem;
  }
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
  color: currentColor;
  line-height: 1;
  margin-right: auto;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);

  @include respond(phone) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

.navbar {
  &__list {
    display: flex;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 4rem;
    }
  }

  &__link {
    color: currentColor;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  }
}

.bg-slider {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  user-select: none;
  pointer-events: none;

  @include respond(phone) {
    height: 50vh;
  }

  &__img {
    width: inherit;
    height: inherit;
    display: block;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.85);
  }
}
