/* RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.8;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 45%;
  }
}
