.mb-xxs {
  margin-bottom: $space-xxs;
}

.mb-xs {
  margin-bottom: $space-xs;
}

.mb-sm {
  margin-bottom: $space-sm;
}

.mb-md {
  margin-bottom: $space-md;
}

.mb-lg {
  margin-bottom: $space-lg;
}

.mb-xl {
  margin-bottom: $space-xl;
}
